html
  body
    .container
      ul#userData
        li= balance
        li= email
        li= picture
        li= age
        li= eyeColor
        li= name.first
        li= name.last
        li= company
        li= email
        li= password
        li= phone
        li= address





